<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SettingsStore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SettingsStore.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1035, 680</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Emulator" serializeAs="String">
                <value>MEmu</value>
            </setting>
            <setting name="FirstSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AccountFormSize" serializeAs="String">
                <value>950, 600</value>
            </setting>
            <setting name="AccountFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AccountFormMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSelectedAppUID" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedEmulatorUID" serializeAs="String">
                <value>memu</value>
            </setting>
            <setting name="LastSelectedInstance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxInstances" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="MaxDisplayedLogs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ScreenshotCache" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Sessions" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseWebServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebServerPort" serializeAs="String">
                <value>5508</value>
            </setting>
            <setting name="EmulatorPathCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedProfile" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="TrialMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptDebugLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastBootSessions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NoxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateActionDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulateAppDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastAccountId" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeoutEmulatorStart" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="TimeoutAndroidBoot" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="TimeoutFirstImage" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="TimeoutActivity" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TimeoutSameScreen" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="TimeoutMaxAction" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BootingDelay" serializeAs="String">
                <value>10</value>
            </setting>
        </SettingsStore.Properties.Settings>
    </userSettings>
</configuration>